<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles  %}
    <meta charset="UTF-8">
    <title>BananaLife</title>

    <script src="{% static "js/jquery-3.1.1.js" %}"></script>
    <script src="{% static "js/npm.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static "img/banana.jpg" %}"/>
    {% block link %}
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
    {% endblock %}

</head>

<body>
{% block head %}
{% endblock %}
{% block navigate %}
<div class="row" style="height: 36px ;">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <a href="{% url "index" %}">
            <img src="{% static "img/bananalife.png" %}" style="height: 36px">
        </a>
    </div>
    <div>
        <form role="search">
            <input type="text"  placeholder="Search" class="col-sm-3" style="border: 2px solid #EE950A;height: 36px">
            <input type="submit" value="" style="background-image: url(/../static/img/banana36x36.png);width:36px;height:36px;border: 1px solid white;border-radius: 15px">
            <input type="submit" value="" style="background-image: url(/../static/img/github_34x34.png);width:36px;height:36px;border: 1px solid white;border-radius: 15px;">
            <input type="submit" value="" style="background-image: url(/../static/img/Bing_34x34.png);width:36px;height:36px;border: 1px solid white;border-radius: 15px;">
            <input type="submit" value="" style="background-image: url(/../static/img/baidu_34x34.png);width:36px;height:36px;border: 1px solid white;border-radius: 15px;">




        </form>
    </div>

</div>
{% endblock %}


{% block body %}
{% endblock %}

</body>
</html>