{% extends 'base.html' %}
{% block body %}

     {% load staticfiles  %}
<div class="container">




    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

        <label for="red">RED:</label>
        <input type="range" min="0" max="1023"  value="{{ color.red }}" name="red" id="red" onchange="test()">
        <label for="blue">BLUE:</label>
        <input type="range" min="0" max="1023"  value="{{ color.blue }}" name="blue" id="blue" onchange="test()">
        <label for="green">GREEN:</label>
        <input type="range" min="0" max="1023"  value="{{ color.green }}" name="green" id="green" onchange="test()">
        <input type="submit" value="SET" class="button">
        {% csrf_token %}
    </form>

</div>
    <script type="text/javascript" >
        var red=$('#red');
        var blue=$('#blue');
        var green=$('#green');
        //$('.button').hide();
       $(document).ready(function() {
           //setInterval('breathe(red)', 100);
           $.ajaxSetup({
               data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
           });

       })

           function test() {
               var r=red.val();
               var g=green.val();
               var b=blue.val();
               //alert('test');
               $.ajax({
                   type:"POST",
                   data:{red:r,green:g,blue:b},
                   url:"{% url 'handle_led' %}",
                   cache:false,
                   success:function (result,status,xml) {
                       //alert(result)
                   },
                   error:function () {
                       //alert("false")
                   }
                })
           }
           /*
           red.change(
                   function () {
                       //alert(red.val());
                       $('form').submit();
                   }
           )
           green.change(
                   function () {
                       //alert(red.val());
                       $('form').submit();
                   }
           )
           blue.change(
                   function () {
                       //alert(red.val());
                       $('form').submit();
                   }
           )*/

    </script>
{% endblock %}

